

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}
body{
    background-color: #1e272e;
    color: white;

}
/* Apply to the entire body to prevent selection on the whole page */
body {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard syntax */
}
img {
    user-select: none;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard syntax */
    
    -webkit-user-drag: none;    /* Disable dragging on Safari */
    /* Disable dragging */
}


button, .button {
    -webkit-tap-highlight-color: transparent;  /* Remove blue highlight on tap */
    outline: none;  /* Remove default focus outline */
}

button:focus, .button:focus {
    outline: none;
    box-shadow: none;  /* Remove any box-shadow effect */
}
button::selection, .button-icon::selection {
    background: transparent;  /* Prevent selection highlighting */
}




.button{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: 5px solid white;
    
    margin: 1rem;
    padding: 1rem;

}

.button:hover{
    background-color: #485460;
}

.icon{
    height: 140px;
    width: 140px;
   filter: invert(100%);
   object-fit: cover;
}
.icon:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition:all 0.1s ease;
    cursor: pointer;
    
}
.header{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.game-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
body{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page{
    display: none;
}
.page{
    position: absolute;
    height: 45%;
    width: 75%;
    top: 40%;
    left: 50%;
    max-width: 600px;
    transform: translate(-50%,-50%);
    background-color: #808e9b;
    /* display: none; */
    
}


/* .display{
    position: relative;
}
.js-result{
    position: absolute;
    background-color: violet;
    
    
    
} */
.you{
    color: rgb(3, 3, 44);
    font-weight: 400;
    font-family: sans-serif;
    font-size: 20px;
    background-color: #d2dae2;
    padding: 0.5rem;
    width: 8rem;
    text-align: center;
    border-radius: 15px;

}
.result-display{
    text-align: center;
    font-size: 3rem;
    background-color: green;
    transition: background-color 0.2s ease;
}
.reset-btn{
    padding: 8px 15px;
    font-size: 1.5rem;
    border-radius: 30px;
    position: absolute;
    right: 4rem;
    bottom: 8rem;
    cursor: pointer;
    font-weight: 500;
    font-family: serif;
    border: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

}
.reset-btn:hover{
    background-color: #783939;
    color: white;
}
.moves{
    
    margin-top:3rem ;
    display: flex;
    /* grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 15px;
    align-items: center; */
    

}
.close svg{
    position: absolute;
    right: 1px;
    cursor: pointer;
    transition: all 0.1s ;
}
.close svg:hover{
    fill: rgb(212, 206, 206);
}

.js-moves1{
    width: 50%;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /* background-color: red; */
    


}
.js-moves2{
    width: 50%;
    height: 120px;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

    

}
/* .images-box{
    padding-top: 2rem;
} */

.move-icon{
    height: 80px;
}

.js-score{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

}
.check{
    display: none;
}
#check:checked~ .page{
    display: inline;
}
.autoplay{
    /* padding: 8px 15px;
    font-size: 1.5rem;
    border-radius: 30px;
    position: fixed;
    left: 3rem;
    bottom: 6.5rem;
    cursor: pointer;
    font-weight: 500;
    font-family: serif;
    border: none;

    -webkit-tap-highlight-color: transparent;
    outline: none; */

    padding: 8px 15px;
    font-size: 1.5rem;
    border-radius: 30px;
    position: absolute;
    left: 4rem;
    bottom: 8rem;
    cursor: pointer;
    font-weight: 500;
    font-family: serif;
    border: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;
}








/* --------------------------------------------------- */

@media screen and (max-width:477px) {
    .button{
        height: 120px;
        width: 120px;
        
    
    }
    .icon{
        height: 70px;
        width: 70px;
       filter: invert(100%);
       object-fit: cover;
    }
    .reset-btn{
        padding: 8px 15px;
        font-size: 1.5rem;
        border-radius: 30px;
        width: 6rem;
        max-width: 150px;
        position: fixed;
        right: 1rem;
        bottom: 1rem;
    }
    .autoplay{
        position: fixed;

        left: 1rem;
        bottom: 1rem;
    }
    .page{
        position: absolute;
        height: 50%;
        width: 78%;
        max-width:400px ;
        top: 42%;
        left: 50%;
        max-width: 600px;
        transform: translate(-50%,-50%);
        background-color: #808e9b;
        /* display: none; */
        
    }
    .you{
        font-weight: 600;
        font-size: 15px;
        width: 6rem;
    }
    .js-score{
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(17, 17, 57);
        /* display: flex; */
        /* justify-content: center;
        align-items: center; */
        margin-top: 90px;
    
    }
    
}